.Events{
    margin: 0%;
    padding: 0%;
    margin-top: 1px;

    margin-top: 10vmin;
    /* background-color:antiquewhite; */
    height: 100vmin;
    /* border: solid 1px black; */
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;

}
.Events .div{
    /* background-color: aqua; */
    display: flex;
    /* flex-direction: row; */
    /* background-color: aqua; */
    margin: 0%;
    width: 100%;
    /* overflow: scroll; */
    justify-content: space-around;
}