.Events{
    margin: 0%;
    padding: 0%;
    /* background-color:antiquewhite; */
    /* background-color:antiquewhite; */
    height: 100vmin;
    background-color:rgb(255, 227, 243);

    /* border: solid 1px black; */
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;

}.carroseu{
    /* margin-top: 5%; */
    width: 95%;
    /* background-color: black; */
    height: 70vh;
    display: flex;
}
.fist{
    margin-left: 5%;
}
.slide_item{
    margin-left: 10%;
    width: 100%;
    /* height: 35vh; */
    display: flex;
    text-align: center;
    background-color: yellow;
    /* margin-right: 10vh; */
    /* padding-left: 50%; */
    /* height: 10%; */
}
.div{
    /* background-color: aquamarine; */
    width:100%;
    margin: 0% auto;
    display: flex;
    justify-content: space-around;
}
@media(max-width:425px){
    .Events h1{
        font-size: x-large;
    }
}