.Footer{
    width: 100%;
    margin-top: 1px;
    /* background-color:black; */
    overflow: hidden;
    height: 40vmin;
    border-top: solid 2px gray;
    display: grid;
    /* grid-template-rows: 10% 90%; */
    grid-template-columns: 50% 50%;
}
.left{
    /* align-items: center; */
    display: grid;
    /* background-color: aquamarine; */
    /* grid-template-rows: 50% 50%;     */
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
.footerText{
    /* padding-left: 25%; */
    /* padding-top: 10%; */
    display: flex;
    /* background-color: aqua; */
    height: 20vh;
    /* margin-left: 25vmax; */
    /* margin: 0%; */
    /* justify-content: center; */
    align-items: flex-end;
}
.footerText p{

    color: rgba(75, 75, 75, 0.76);
    margin: 0%;
    display: flex;
    margin-left: 5vw;
    height: 10vmin;
    overflow: hidden;
    width: 65%;
    /* background-color: blue; */
    font-size: 18px;
}

.Footer .Links{
    /* width: 20vw; */
    /* background-color:black; */
    display: flex;
    flex-direction: row;
    width: 10vw;
    margin-left:5vw ;
    margin-top: 0%;
    /* justify-content: space-around; */

}
.Link{

    background-color: rgb(175, 175, 175);

    background-color: gray;
    /* color: aliceblue; */
    width: 30px;
    margin-right: 1px;
    height: 30px;
    border-radius: 5px;
    /* font-size: 50px; */
    display: flex;
    cursor: pointer;
    padding: 0px;

}
svg{
    width: 100%;
    /* background-color: white; */
    color: red;
}

.right{
    /* margin-left: 10%; */
    /* width: 40vw;  */
    margin: 0%;
    padding: 0%;
    /* background-color: tomato; */
}
.linksFooter{
    display: flex;
    /* margin-top: 0%; */
    /* background-color: blue; */
    width: 100%;
}
.linksFooter .links{
    /* padding-right: 30%; */
    /* margin-right: 10%; */
    width: 80%;
    display: flex;
    flex-direction: column;
    /* border: solid 1px black; */
}
.linksFooter h4{
    font-size: larger;
    color: black ;}
.links a{
    text-align: justify;
    width: 15vw;
    /* background-color: aqua; */
    /* font-size:20px; */
    margin-bottom: 10%;
    color: rgba(59, 59, 59, 0.842);
    text-decoration: none;
}
.links{ margin-left: 15%;}

@media (max-width:425px){
    .links a{
        font-size:15px;
    }
    .Footer{
        margin: 0%;
        /* flex-direction: column; */
        height: 30vh;
    }
}