.Home{
    display: flex;
    height: 95vh;
    flex-direction: column;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom: 1px solid black;
}
.secao{
    display: flex;
    flex-direction: row;
    /* margin-top: 5vmin; */
    align-items:flex-start;
    /* background-color: aqua; */
    /* background-color: aqua      ; */
}
/* .Home .Text{
    display: flex;
    padding: 0%;
    margin-left: 5%;
    width: 30vmax;}
.Home .Text h1{
    display: flex;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(49, 31, 6);
    margin-bottom: 0%; */
/* } */
.Home p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    width: 95%;
    font-weight:500;
    /* background-color: aqua; */
}
body{
    display: flex;
    margin: 0%;
    flex-direction: column;
    /* height: 5550px; */
}
@media(max-width:425px){
    .Home{
        height: 35vh;
    }
    .secao{
        margin-top: 0vmin;
    }
    .Home .Text h1{
        font-size: 1px;
    }   
}