.Home{
    /* margin: 0%; */
    display: flex;
    /* width: 100vmax; */
    height: 100vb;
    /* background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url("https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    flex-direction: column;
    border:solid 1px black;
    /* background-color: rgba(18, 17, 29, 0.733); */
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    /* border-top-left-radius: 5%;
    border-top-right-radius: 5%; */
    /* margin-left: 1%; */
    /* margin-top: 1%; */
}
.secao{
    display: flex;
    flex-direction: row;
    /* margin-top: 5vmin; */
    align-items:flex-start;
    /* background-color: aqua; */
    /* background-color: aqua      ; */
}
/* .Home .Text{
    display: flex;
    padding: 0%;
    margin-left: 5%;
    width: 30vmax;}
.Home .Text h1{
    display: flex;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(49, 31, 6);
    margin-bottom: 0%; */
/* } */
.Home p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    width: 95%;
    font-weight:500;
    /* background-color: aqua; */
}
body{
    display: flex;
    margin: 0%;
    flex-direction: column;
    /* height: 5550px; */
}
@media(max-width:425px){
    .Home{
        height: 40vb;
    }
    .secao{
        margin-top: 15vmin;
    }
    .Home p{

    }   
}