.card{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: 3%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding-left: 1%; */
    background-color: white;
    width: 22vw ;                                                                           ;
    height: 55vh;
    margin-left: 10%;
    margin-top: 5vh;
    overflow:hidden ;
    /* border: solid 1px black; */
    /* margin-right: 10vmax; */
}
img{
    margin: 5% 5%;
    width: 90%; 
    height: 25vh;
    border-radius: 3%;
}
.card h3{
    margin: 0% 5%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: aqua; */
}
.card p{
    /* font-size:small; */
    font-family: 'Courier New', Courier, monospace;
    margin: 5% 5%;
}
.card div{
    /* margin: 1% 0%; */
    width: 100%;
    /* overflow-x: scroll; */
     /* background-color:yellow; */
    display: flex;
    align-items: center;
    flex-direction: row;
    /* justify-content: space-between; */
}
.card div p{
    font-size: larger;
}
.like{
    /* border-radius: 45px; */
    /* margin-left: 60%; */
    width: 23px;
    height: 23px;
    border: solid 1px black;}
.add{
    width: 25%;
    height: 70%;
    border-radius: 15px;
    color: white;
    background-color: rgb(255, 0, 106);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border: none;

    cursor: pointer;
    margin-right: 1%;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    /* background-color: red; */
}

.card svg{
    cursor: pointer;
    font-weight: bolder;
    margin: 0% 0% 0% 20%;
    font-size: 30px;
    width: 15%;
    /* background-color: black; */
    color: grey;
}
@media(max-width:825px){
    .card{
        margin: 5% 0 0 5%;
        /* margin-left: 5%; */
        /* padding: 0%; */
        width: 50vw;
        height: 35vh;
    }
    .card img{
        width: 90%;
        height: 15vh;
    }
    .card h3{
        /* margin-top: 3%; */
        margin-bottom: 3%;
        font-size:large;
    }
    .card p{
        margin: 5% 5% 5%;
        /* margin-left: 0%; */
        font-size: small;
    }
    .controls{
        /* background-color: aqua; */
        display: flex;
        align-self: center;
        align-items: center;
    }
    .controls p{
        margin-top:5%;
        /* background-color: black ; */
    }
    .card svg{
        /* scale:; */
        margin-left: 9%;
        color: red;
        /* font-size: larger; */
        /* margin-right: 5px; */
    }
}