.Text{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    width: 35%;
    /* margin-top: 8%; */
    padding-left: 13%;
    scale: 1.2;
    margin-top: 5%;
}
.Text h2{
    display: flex;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(34, 20, 0);
    margin-bottom: 0%;
    opacity: 0.9;
    font-weight: bolder;
}
.Text p{
    font-size: large;
    opacity: 0.7;
}
.Text button{
    background-color: rgb(247, 210, 0);
    opacity: 0.5;
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 6vmin;
    color: rgb(255, 255, 255);
    /* font-weight: 1px; */
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    cursor: pointer;
}
.Text .Links{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    width: 30%;
}
.Text .Link{
    background-color: rgb(34, 20, 0);
    /* background-color: brown; */
    /* color: aliceblue; */
    width: 30px;
    margin-right: 1px;
    height: 30px;
    border-radius: 5px;
    /* font-size: 50px; */
    display: flex;
    cursor: pointer;
    padding: 0px;
}
svg{
    display: flex;
    margin: auto;
    font-size: large;
    color: white;
}
@media(max-width:425px){
    .Text{
        width: 50%;
        /* background-color: yellowgreen; */
    }
    .Text h2{
        font-size: 3vmax;
        margin-top: 5%;
    }
    .Text p{
        margin-top: 1%;
        font-size:3vmin;       
    }
    .Text button{
        /* margin-top: 1%; */
        width: 30%;
        font-size: 2vw;
        height: 5vmin;
        margin: 0%;
    }
    .Text .Links{
        height: 4vmin;
        width: 30%;
    }
    .Text .Link{
        margin-left: 10%;
        margin-top: 10%;
        border-radius: 25%;
        /* margin: 0%; */
        width: 10px;
        height:10px;
}
    svg{
        color: white;
        font-size:7px;
    }    
}